version: '3.8'

services:
  steamroller:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      - PORT=8080
      - AGENT_NAME=SteamrollerAgentV6LAT
      - PARTICIPANT=SteamrollerParticipant
